@charset "UTF-8";

// 色
$c-main:#273A48;
$gray:#bfbfbf;

$ff-main:"minion-pro";
$ff-txt:"Athelas";
$ff-time:"Abril Fatface";

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: 1024px)",
	"tab-up": "(min-width: 1025px)",
	"note-down": "(max-width: 1279px)",
	"note-up": "(min-width: 1281px)",
	"wide-down" : "(max-width: 1440px)",
	"wide-up" : "(min-width: 1441px)"
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$baseWidth : 1440;
 	@function vw($pixelsVw) {
    @return $pixelsVw / $baseWidth * 100vw;
}
$baseWidth2 : 375;
	@function vw2($pixelsVw) {
	@return $pixelsVw / $baseWidth2 * 100vw;
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: $c-main;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  color: $c-main;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.note-show{
	display: none;
	@include mq('note-down'){
		display: block;
	}
}

.note-hide{
	display: block;
	@include mq('note-down'){
		display: none;
	}
}



.tab-show{
	display: none;
	@include mq('tab-down'){
		display: block;
	}
}

.tab-hide{
	display: block;
	@include mq('tab-down'){
		display: none;
	}
}

.sp-show{
	display: none;
	@include mq('sp-down'){
		display: block;
	}
}
img.sp-show{
	display: none;
	@include mq('sp-down'){
		display: inline;
	}
}

.sp-hide{
	display: block;
	@include mq('sp-down'){
		display: none;
	}
}

img.sp-hide{
	display: inline;
	@include mq('sp-down'){
		display: none;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: $ff-main;
	font-weight: bold;
}
p,li,a{
	font-family: $ff-txt;
}

time{
	font-family: $ff-time;
}



header{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 70px;
	font-family: $ff-txt;
	font-weight: 400;
	@include mq('sp-down'){
	  padding-left: 15px;
	  padding-right: 15px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.header-inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo{
			img{
				height: 50px;
				@include mq('sp-down'){
				  height: 40px;
				}
			}
		}
		.right{
			display: flex;
			align-items: center;
			.menu{
				display: flex;
				align-items: center;
				li{
					margin-right: 40px;
					font-size: 15px;
					&:last-child{
						margin-right: 30px;
					}
					&:not(.reserve){
						a{
							position: relative;
							&::before{
								content: "";
								position: absolute;
								width: 0%;
								left: 50%;
								bottom: 0;
								height: 1px;
								background-color: $c-main;
								transition: all .3s;
							}
							&:hover{
								&::before{
									width: 100%;
									left: 0%;
								}
							}
						}
					}
				}
				.reserve{
					a{
						display: block;
						padding: 12px 45px;
						border-radius: 99px;
						border: 1px solid $c-main;
						position: relative;
						top: 0;
						transition: all .3s;
						&:hover{
							top: -2px;
							box-shadow: 0 3px 10px lightgray;
						}
					}

				}
				@include mq('sp-down'){
				  display: none;
				}
			}
			.burger{
				width: 100px;
				background-color: transparent;
				display: flex;
				flex-direction: column;
				height: 15px;
				justify-content: space-between;
				cursor: pointer;
				position: relative;
				z-index: 100;
				@include mq('sp-down'){
				  width: 50px;
				}
				span{
					width: 100%;
					height: 2px;
					background-color: $c-main;
					display: block;
					position: relative;
					top: 0px;
					transition: all .4s;
				}
				&.active{
					span{
						background-color: #fff;
					}
					.sp1{
						transform: rotate(15deg);
						top: 7.5px;
					}
					.sp2{
						transform: rotate(-15deg);
						top: -4.5px;
					}
				}
			}
		}
		.header-ul{
			position: fixed;
			z-index: 99;
			background-color: $c-main;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			padding-top: 100px;
			align-items: center;
			pointer-events: none;
			opacity: 0;
			transition: all .4s;
			&.active{
				opacity: 1;
				pointer-events: all;
			}
			li{
				font-size: 20px;
				margin-bottom: 10px;
				a{
					color: white;
					position: relative;
					&::before{
						content: "";
						width: 0%;
						height: 1px;
						background-color: #fff;
						left: 50%;
						bottom: 0;
						position: absolute;
						transition: all .3s;
					}
					@include mq('sp-up'){
						&:hover{
							&::before{
								width: 100%;
								left: 0%;
							}
						}					  
					}

				}
			}
		}
	}

}

main{
	overflow: hidden;
	transform: translate3d(0,0,0);
}

h2{
	font-size: vw(80);
	line-height: .875em;
	@include mq('sp-down'){
	  font-size: vw2(26);
	}
}

p{
	line-height: 1.4667em;
	font-size: vw(15);
	font-family: $ff-txt;
	font-weight: 400;
	letter-spacing: 0.02em;
	@include mq('sp-down'){
	  font-size: vw2(14);
	}
}

.fv{
	padding-top: vw(204);

	@include mq('sp-down'){
	  padding-top: vw2(80);
	}
	.section-inner{
		display: flex;
		.left{
			width: 76.18%;
			flex-shrink: 0;
			.img-wrapper{
				img{
					width: 100%;
				}
			}
			padding-top: vw(33);
			h1{
				padding-left: vw(80);
				font-size: vw(130);
				font-family: $ff-main;
				font-weight: bold;
				position: relative;
				z-index: 3;
				line-height: 0.9076em;
				margin-bottom: vw(-16);
				@include mq('sp-down'){
				  font-size: vw2(50);
				  padding-left: vw2(10);
				}
			}
			p{
				margin-top: 2em;
				padding-left: vw(80);
				@include mq('sp-down'){
				  white-space: nowrap;
				  margin-top: 1em;
				  padding-left: vw2(10);
				}
			}
			@include mq('sp-down'){
			  width: 85%;
			}
		}
		.right{
			padding-left: vw(62);
			padding-top: vw(353);
			.img-wrapper{
				img{
					width: 100%;
				}
			}
			@include mq('sp-down'){
			  padding-top: vw2(95);
			  padding-left: vw2(10);
			}
		}
		.img-wrapper{
			overflow: hidden;
			position: relative;
			&::before{
				content: "";
				width: 100%;
				height: 100%;
				background-color: #fff;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				transition: 2s cubic-bezier(.68,.05,0,.87);
				will-change: height;
			}
			img{
				transform: matrix(1.2, 0, 0, 1.2, 0, 0);
				transition: 2.2s ease;
				will-change: transform;
			}
		}
		.img-wrapper.animated{
			&::before{
				height: 0;
			}
			img{
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}
	}
	&.kaso-fv{
		padding-top: vw(165);
		padding-left: vw(80);
		padding-right: vw(80);
		.left{
			width: 100%;
			padding-top: 0;
			h1{
				padding-left: 0;
				@include mq('sp-down'){
				  margin-bottom: vw2(-8);
				}
			}
			p{
				padding-left: 0;
				margin-top: vw(20);
				@include mq('sp-down'){
					margin-top: vw(20);
					padding-left: vw2(15);
					padding-right: vw2(15);
					white-space: normal;
				}
			}
		}
		@include mq('sp-down'){
			padding-top: vw2(80);
			padding-left: vw2(0);
			padding-right: vw2(0);
		}
	}
}

.shrink-sec{
	padding-top: vw(115);
	padding-bottom: vw(127);
	@include mq('sp-down'){
	  padding-top: vw2(60);
	  padding-bottom: vw2(60);
	}
	.section-inner{
		.img-wrapper{
			overflow: hidden;
			img{
				width: 100%;
				transform: scale(.9);
				will-change: transform;
				@include mq('sp-down'){
				  transform: scale(.96576);
				  &.about-img{
					transform: scale(.95);
				  }
				}
			}
			
		}
		h2{
			line-height: 1em;
			text-align: center;
			padding-top: vw(100);
			margin-bottom: vw(15);
			@include mq('sp-down'){
			  padding-top: vw2(40);
			  margin-bottom: vw2(20);
			}
		}
		p{
			text-align: center;
		}

	}
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.damagefree{
	padding-top: vw(70);
	padding-bottom: vw(195);
	padding-left: vw(80);
	padding-right: vw(80);
	background-color: #E6E6E6;
	@include mq('sp-down'){
	  padding-top: vw2(60);
	  padding-bottom: vw2(60);
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	}
	h2{
		text-align: center;
		line-height: 1em;
		margin-bottom: vw(15);
		@include mq('sp-down'){
		  margin-bottom: vw2(20);
		}
	}
	p{
		text-align: center;
		margin-bottom: vw(40);
		@include mq('sp-down'){
		  margin-bottom: vw2(40);
		}
	}
	.flex{
		display: flex;
		.left{
			width: vw(1110);
			@include mq('sp-down'){
			  width: vw2(330);
			}
			.parent-ul{
				>li{
					padding-top: vw(17);
					padding-left: vw(25);
					padding-bottom: vw(24);
					border-top: 1px solid #232323;
					position: relative;
					transition: all .3s;
					@include mq('sp-down'){
					  padding-top: vw2(25);
					  padding-left: vw2(20);
					  padding-bottom: vw2(10);
					  padding-right: vw2(10);

					}
					.num{
						position: absolute;
						font-size: vw(13);
						left: vw(2);
						top: vw(5);
						@include mq('sp-down'){
						  left: vw2(4);
						  top: vw2(2);
						  font-size: vw2(14);
						}
					}
					h5{
						font-size: vw(25);
						line-height: 1.2em;
						margin-bottom: vw(10);
						@include mq('sp-down'){
						  font-size: vw2(16);
						  margin-bottom: vw2(10);
						}
					}
					.child-ul{
						display: none;
						li{
							padding-left: vw(14);
							position: relative;
							letter-spacing: 0.02em;
							line-height: 1.4667em;
							margin-bottom: vw(2);
							font-size: vw(14);
							&::before{
								content: "";
								width: vw(8);
								height: vw(8);
								position: absolute;
								background-image: url(../img/square.svg);
								background-size: contain;
								background-repeat: no-repeat;
								background-position: center;
								left: 0;
								top: vw(6);
							}
							&:last-child{
								margin-bottom: 0;
							}
							&.no-indent{
								padding-left: 0;
								max-width: vw(740);
								&::before{
									display: none;
								}
							}
							@include mq('sp-down'){
							  padding-left: vw2(12);
							  font-size: vw2(12);
							  margin-bottom: vw2(2);
							  &::before{
								width: vw2(8);
								height: vw2(8);
								top: vw2(5);
							  }
							  &.no-indent{
								max-width: unset;
							  }
							}
						}
					}

				}
				>.li-active{
					background-color: $c-main;

					.num{
						color: white;
					}
					h5,li{
						color: white;
					}

				}

			}
		}
		.right{
			margin-left: vw(-310);
			width: vw(480);
			padding-top: vw(30);
			position: relative;
			z-index: 2;
			@include mq('sp-down'){
			  width: vw2(120);
			  margin-left: vw2(-105);
			  padding-top: vw2(215);
			}
			.img-wrapper{
				img{
					width: 100%;
					display: none;
					opacity: 0;
					&.img-active{
						display: block;
						animation: fadeInUp 0.3s ease-out forwards;
					}
				}

				#num3-img{
					@include mq('sp-down'){
					  margin-top: vw2(85);
					}
				}
			}
		}
	}
}

.result{
	padding-top: vw(200);
	padding-bottom: vw(180);
	@include mq('sp-down'){
	  padding-top: vw2(60);
	  padding-bottom: vw2(60);
	}
	.section-inner{
		h2{
			text-align: center;
			padding-bottom: vw(40);
			@include mq('sp-down'){
			  padding-bottom: vw2(20);
			}
		}
		.swiper{
			.swiper-wrapper{
				.swiper-slide{
					padding-left: vw(40);
					padding-right: vw(40);
					padding-bottom: vw(20);
					position: relative;
					@include mq('sp-down'){
					  padding-left: vw2(15);
					  padding-right: vw2(15);
					  padding-bottom: vw2(10);
					}
					h6{
						text-align: center;
						font-size: vw(35);
						line-height: 1.15em;
						margin-bottom: vw(20);
						@include mq('sp-down'){
						  font-size: vw2(20);
						  margin-bottom: vw2(10);
						}
					}
					.main-img{
						img{
							width: 100%;
						}
						position: relative;
						&::before{
							content: "After";
							position: absolute;
							right: vw(23);
							top: vw(30);
							font-size: vw(80);
							font-family: $ff-main;
							font-weight: bold;
							@include mq('sp-down'){
							  right: vw2(10);
							  top: vw2(5);
							  font-size: vw2(20);
							}
						}
					}
					.sub-img{
						width: vw(183.6);
						position: absolute;
						left: 0;
						bottom: 0;
						img{
							width: 100%;
						}
						&::before{
							content: "Before";
							position: absolute;
							left: vw(9.5);
							bottom: 0;
							font-size: vw(25);
							font-weight: bold;
							font-family: $ff-main;
						}
						@include mq('sp-down'){
						  width: vw2(60);
						  &::before{
							left: vw2(2.5);
							font-size: vw2(10);
						  }
						}
					}
				}
			}
			.swiper-nav{
				width: vw(15);
				height: vw(35);
				img{
					width: 100%;
				}
				&::after{
					display: none;
				}
				@include mq('sp-down'){
				  width: vw2(7.5);
				  height: vw2(17.5);
				}
			}
			.swiper-button-prev{
				left: calc(25% - vw(10));
			}
			.swiper-button-next{
				right: calc(25% - vw(10));
			}
			.swiper-button-next, .swiper-button-prev{
				top: 60%;
			}
		}
	}
}

.reservation-banner{
	background-color: $c-main;
	padding-top: vw(68);
	padding-bottom: vw(32);
	@include mq('sp-down'){
	  padding-top: vw2(20);
	  padding-bottom: vw2(10);
	}
	.swiper-wrapper {
		transition-timing-function: linear;
		.swiper-slide{

			a{
				display: flex;
				align-items: flex-start;
			}
			padding-bottom: vw(24);
			@include mq('sp-down'){
			  padding-bottom: vw2(5);
			}
			h1{
				font-size: vw(120);
				color: white;
				@include mq('sp-down'){
				  font-size: vw2(32);
				}
			}
			img{
				width: vw(52);
				height: vw(52);
				position: relative;
				left: vw(20);
				top: vw(20);
				@include mq('sp-down'){
				  width: vw2(14);
				  height: vw2(14);
				  top: vw2(3);
				  left: vw2(6);
				}
			}
		}
	}
}

.more{
	display: flex;
	justify-content: center;
	&.center{
		justify-content: center;
	}
	&.end{
		justify-content: flex-end;
	}
	a{
		display: block;
		font-size: vw(20);
		font-family: $ff-main;
		font-weight: bold;
		padding-right: vw(63);
		position: relative;
		transition: all .3s;
		padding-left: 0;
		@include mq('sp-down'){
		  font-size: vw2(16);
		  padding-right: vw2(30);
		}
		&::before{
			content: "";
			width: vw(3);
			height: vw(3);
			background-color: $c-main;
			border-radius: 99px;
			position: absolute;
			right: 0;
			top: calc(50% - vw(1.5));
			@include mq('sp-down'){
			  width: vw2(2);
			  height: vw2(2);
			  top: calc(50% - vw2(1));
			}
		}
		&::after{
			content: "";
			background-color: $c-main;
			width: vw(49);
			position: absolute;
			height: vw(1);
			right: vw(8);
			top: calc(50% - vw(0.5));
			transition: all .3s;
			@include mq('sp-down'){
			  width: vw2( 18);
			  height: vw2(1);
			  right: vw2(6);
			  top: calc(50% - vw2(0.5));
			}
		}
		@include mq('sp-up'){
			&:hover{
				padding-left: vw(10);
				padding-right: vw(53);
				&::after{
					width: vw(39);
				}
			}
		}

	}
}

.customer-case{
	padding-top: vw(180);
	padding-left: vw(80);
	padding-right: vw(80);
	@include mq('sp-down'){
	  padding-top: vw2(60);
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	}
	h2{
		text-align: center;
		margin-bottom: vw(40);
		@include mq('sp-down'){
		  margin-bottom: vw2(20);
		}
	}
	.flex{
		display: flex;
		justify-content: space-between;
		padding-bottom: vw(40);
		@include mq('sp-down'){
		  padding-bottom: vw2(20);
		  flex-direction: column;
		}
		.card{
			width: calc(33.3333% - vw(26.6666));
			@include mq('sp-down'){
			  width: 100%;
			  margin-bottom: vw2(20);
			}
			img{
				width: 100%;
				margin-bottom: vw(15);
				@include mq('sp-down'){
				  margin-bottom: vw2(10);
				}
			}
			p{
				font-size: vw(15);
				line-height: 1.4666em;
				@include mq('sp-down'){
				  font-size: vw2(12);
				}
			}
		}
	}

}

.news{
	padding-top: vw(160);
	padding-bottom: vw(170);
	padding-left: vw(250);
	padding-right: vw(250);
	@include mq('sp-down'){
		padding-top: vw2(60);
		padding-bottom: vw2(60);
		padding-left: vw2(15);
		padding-right: vw2(15);
	  }
	.section-inner{
		h2{
			margin-bottom: vw(40);
			@include mq('sp-down'){
			  margin-bottom: vw2(20);
			}
		}
		ul{
			@include mq('sp-down'){
			  margin-bottom: vw2(20);
			}
			li{
				border-top: 1px solid #d6d6d6;

				a{
					display: block;
					transition: all .3s;
					padding-top: vw(20);
					padding-bottom: vw(20);
					@include mq('sp-down'){
					  padding-top: vw2(10);
					  padding-bottom: vw2(10);
					}
					@include mq('sp-up'){
						&:hover{
							background-color: #E6E6E6;
						}					  
					}
					.flex{
						display: flex;
						margin-bottom: vw(5);
						@include mq('sp-down'){
						  margin-bottom: vw2(2.5);
						}
						time{
							color: #BFBFBF;
							margin-right: vw(10);
							font-size: vw(16);
							font-family: $ff-main;
							font-weight: 700;
							@include mq('sp-down'){
							  margin-right: vw2(5);
							  font-size: vw2(12);
							}
						}
						.cat{
							padding: vw(1) vw(5);
							background-color: #BFBFBF;
							font-size: vw(13);
							color: white;
							letter-spacing: 0.02em;
							@include mq('sp-down'){
							  padding: vw2(1) vw2(5);
							  font-size: vw2(11);
							}
						}
					}
					p{
						font-size: vw(17);
						line-height: 1.29em;
						letter-spacing: 0.02em;
						@include mq('sp-down'){
						  font-size: vw2(14);
						}
					}
				}
			}
		}
	}
}

footer{
	background-color: $c-main;
	padding-top: vw(50);
	padding-left: vw(80);
	padding-right: vw(80);
	padding-bottom: vw(45);
	@include mq('sp-down'){
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	  padding-top: vw2(20);
	  padding-bottom: vw2(10);
	}
	a,p{
		color: white;
	}
	a:not(.logo){
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 0%;
			left: 50%;
			bottom: 0;
			height: 1px;
			background-color: #fff;
			transition: all .3s;
		}
		@include mq('sp-up'){
			&:hover{
				&::before{
					width: 100%;
					left: 0%;
				}
			}		  
		}

	}
	.top{
		padding-bottom: vw(100);
		@include mq('sp-down'){
		  padding-bottom: vw2(20);
		}
		li{
			font-size: vw(14);
			@include mq('sp-down'){
			  font-size: vw2(14);
			}
		}
		.left{
			img{
				height: vw(50);
				width: auto;
				@include mq('sp-down'){
				  height: vw2(50);
				}
			}
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mq('sp-down'){
		  flex-direction: column;
		  align-items: flex-start;

		}
		ul{
			display: flex;
			@include mq('sp-down'){
			  flex-direction: column;
			  margin-top: vw2(20);
			}
			li{
				margin-left: vw(50);
				@include mq('sp-down'){
					margin-left: 0;
					margin-bottom: vw2(10);
				}
			}
		}
	}

	.bottom{
		display: flex;
		justify-content: space-between;
		padding-top: vw(15);
		border-top: 1px solid white;
		@include mq('sp-down'){
		  flex-direction: column-reverse;
		  align-items: center;
		}
		@include mq('sp-down'){
		  padding-top: vw2(20);
		}
		p,li{
			font-size: vw(13);
			@include mq('sp-down'){
			  font-size: vw2(12);
			}
		}
		p{
			@include mq('sp-down'){
				font-size: vw2(10);
			}
		}
		ul{
			display: flex;
			@include mq('sp-down'){
			  margin-bottom: vw2(10);
			}
			li{
				margin-left: vw(50);
				@include mq('sp-down'){
				  margin-left: vw2(10);
				  margin-right: vw2(10);
				}
			}
		}
	}
}

@keyframes rotateAnimation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  

.loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #232323;
	top: 0;
	left: 0;
	z-index: 99;
	transition: 2.8s cubic-bezier(.68,.05,0,.87);
	will-change: top;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	&.animated{
		top: -110vh;
	}
	.center{
		width: 167px;
		height: 167px;
		left: calc(50% - 78.5px);
		top: calc(50% - 78.5px);
		padding: 10px;
		position: absolute;
		overflow: hidden;
		@include mq('sp-down'){
			top: calc(50% - 140px);
		}
		.loading-circle{
			position: absolute;
			transition: 2.8s cubic-bezier(.68,.05,0,.87);
			top: 10px;
			will-change: top;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			&.animated{
				top: -1000px;
			}
		}
		img{
			width: 147px;
			height: 147px;
			object-position: center;
			object-fit: contain;
			animation: rotateAnimation 3s cubic-bezier(.68,.05,0,.87) infinite;
		}
		h3{
			text-align: center;
			position: absolute;
			font-size: 20px;
			font-family: $ff-time;
			line-height: 1.3em;
			letter-spacing: 0.02em;
			color: white;
			width: 100%;
			top: calc(50% - 30px);
		}

	}
}

.history{
	padding-top: vw(100);
	@include mq('sp-down'){
	  padding-top: vw2(60);
	}
	h2{
		font-size: vw(90);
		text-align: center;
		line-height: 97.778%;
		margin-bottom: vw(-15);
		position: relative;
		z-index: 2;
		@include mq('sp-down'){
		  font-size: vw2(40);
		  margin-bottom: vw2(-8);
		}
	}
	.section-inner{
		position: relative;
		width: vw(1080);
		margin: auto;
		@include mq('sp-down'){
		  width: unset;
		  padding-left: vw2(15);
		  padding-right: vw2(15);
		}
		.next-wrap{
			position: absolute;
			width: vw(171);
			z-index: 2;
			top: vw(85);
			right: vw(-27);
			cursor: pointer;
			&.swiper-button-disabled{
				display: none;
			}
			@include mq('sp-down'){
			  top: unset;
			  width: vw2(100);
			  bottom: vw2(10);
			  right: vw2(5);
			}
			p{
				font-weight: 700;
				font-size: vw(20);
				font-family: $ff-main;
				position: relative;
				left: 0;
				transition: all .3s;

				&::before{
					content: "";
					width: vw(164);
					height: vw(1);
					position: absolute;
					bottom: vw(7);
					left: 0;
					background-color: $c-main;
					transition: all .3s;
				}
				&::after{
					content: "";
					width: vw(3);
					height: vw(3);
					position: absolute;
					bottom: vw(6);
					right: 0;
					border-radius: 50%;
					background-color: $c-main;
					transition: all .3s;
				}
				@include mq('sp-down'){
				  font-size: vw2(14);
				  &::before{
					width: vw2(95);
					height: vw2(1);
					bottom: vw2(5);
				  }
				  &::after{
					width: vw2(2);
					height: vw2(2);
					bottom: vw2(5);

				  }
				}
				@include mq('sp-up'){
					&:hover{
						left: vw(10);
						&::before{
							width: vw(154);
						}
						&::after{
							right: vw(10);
						}
					}
				}

			}
		}
	}
	.video-container{
		width: 100%;
		padding: vw(60) vw(70);
		background-color: #e6e6e6;
		position: relative;
		@include mq('sp-down'){
		  padding: vw2(30) vw2(15);
		  padding-bottom: vw2(40);
		}
		ul{
			padding-bottom: vw(20);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include mq('sp-down'){
			  padding-bottom: vw2(20);
			}
			li{
				font-size: vw(13);
				letter-spacing: 0.02em;
				margin-bottom: vw(7);
				color: $c-main;
				opacity: .4;
				cursor: pointer;
				&.active{
					opacity: 1;
				}
				&:last-child{
					margin-bottom: 0;
				}
				span{
					padding-right: vw(10);
				}
				@include mq('sp-down'){
				  font-size: vw2(12);
				  line-height: 1.2em;
				  margin-bottom: vw2(5);
				  display: flex;
				  span{
					padding-right: vw2(5);
					position: relative;
					top: vw2(-1);
				  }
				}
			}
		}
	}
	.slide{
		.desc{
			margin-top: vw(20);
			font-size: vw(15);
			letter-spacing: 0.02em;
			@include mq('sp-down'){
			  margin-top: vw2(10);
			  font-size: vw2(10);
			}
		}
	}
	.video-wrapper{
		position: relative;
		video{
			width: 100%;
		}
		&::after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.3;
			background: black;
			transition: all .2s;
		}
		&.active{
			&::after{
				opacity: 0;
				pointer-events: none;
			}
		}
		img.btn{
			position: absolute;
			z-index: 2;
			width: 55px;
			height: 55px;
			top: calc(50% - 27.5px);
			left: calc(50% - 27.5px);
			cursor: pointer;
			&.active{
				display: none;
			}
		}
	}
}

.business{
	padding-top: vw(73);
	padding-bottom: vw(270);
	@include mq('sp-down'){
	  padding-top: unset;
	  padding-bottom: vw2(60);
	}
	.section-inner{
		@include mq('sp-down'){
		  padding-left: vw2(15);
		  padding-right: vw2(15);
		}
		.flex{
			display: flex;
			margin-bottom: vw(250);
			@include mq('sp-down'){
			  flex-direction: column;
			  margin-bottom: vw2(30);
			  &.reverse{
				flex-direction: column-reverse;
			  }
			}
			&:last-child{
				margin-bottom: 0;
			}
			>div{
				width: 50%;
				img{
					width: 100%;
				}
				@include mq('sp-down'){
				  width: 100%;
				}
			}
			.txt-col{
				padding: vw(80);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #E6E6E6;
				@include mq('sp-down'){
				  padding: vw2(20);
				  h2{
					line-height: 1.2em;
					margin-bottom: vw2(10);
				  }
				}
			}
			.right{
				position: relative;
				top: vw(100);
				@include mq('sp-down'){
				  top: 0;
				}
			}
			.color-inversion{
				background-color: $c-main;
				h2,p{
					color: white;
				}
			}
		}
	}

}

.corporation{
	padding-top: vw(60);
	padding-left: vw(80);
	padding-right: vw(80);
	padding-bottom: vw(180);
	background-color: #E6E6E6;
	@include mq('sp-down'){
	  padding: vw2(40) vw2(15);
	}
	h2{
		margin-bottom: vw(38);
		@include mq('sp-down'){
		  margin-bottom: vw2(15);
		}
	}
	table{
		width: vw(1000);
		@include mq('sp-down'){
		  width: 100%;
		}
		tr{
			border-bottom: 1px solid white;
			th,td{
				padding-top: vw(40);
				color: #232323;
				padding-bottom: vw(15);
				font-size: vw(20);
				font-family: $ff-txt;
				font-weight: 400;
				@include mq('sp-down'){
				  padding-top: vw2(20);
				  padding-bottom: vw2(10);
				  font-size: vw2(12);
				  line-height: 1.2em;
				}
			}
			th{
				width: vw(311);
				@include mq('sp-down'){
				  width: vw2(130);
				}
			}
		}
	}
}

.salon-list-sec{
	padding-top: vw(123);
	padding-left: vw(80);
	padding-right: vw(80);
	padding-bottom: vw(170);
	@include mq('sp-down'){
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	  padding-top: vw2(60);
	  padding-bottom: vw2(60);
	}
	.section-inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card{
			h4{
				font-size: vw(30);
				margin-bottom: vw(11);
				@include mq('sp-down'){
				  font-size: vw2(20);
				  margin-bottom: vw2(10);
				}
			}
			width: calc(50% - vw(20));
			@include mq('sp-down'){
			  width: 100%;
			  margin-bottom: vw2(50);
			  &:last-child{
				margin-bottom: 0;
			  }
			}
			.img-wrapper{
				margin-bottom: vw(20);
				img{
					width: 100%;
				}
				@include mq('sp-down'){
				  margin-bottom: vw2(20);
				}
			}

			.btn-wrapper{
				display: flex;
				justify-content: space-between;
				.btn{
					width: calc(50% - vw(5));
					display: block;
					border: 1px solid $c-main;
					font-size: vw(16);
					font-weight: bold;
					font-family: $ff-main;
					@include mq('sp-down'){
					  width: calc(50% - vw2(5));
					  font-size: vw2(16);
					}
					span{
						line-height: 2.5em;
						color: $c-main;
						position: relative;
						padding-left: vw(86);
						padding-right: vw(50);
						transition: all .3s;
						@include mq('sp-down'){
						  padding-left: vw2(35);
						  padding-right: vw2(30);
						}
						&::before{
							content: "";
							width: vw(3);
							height: vw(3);
							background-color: $c-main;
							border-radius: 99px;
							position: absolute;
							right: 0;
							top: calc(55% - vw(1.5));
							@include mq('sp-down'){
							  width: vw2(2);
							  height: vw2(2);
							  top: calc(50% - vw2(1));
							}
						}
						&::after{
							content: "";
							background-color: $c-main;
							width: vw(36);
							position: absolute;
							height: vw(1);
							right: vw(7);
							top: calc(55% - vw(0.5));
							transition: all .3s;
							@include mq('sp-down'){
							  width: vw2( 18);
							  height: vw2(1);
							  right: vw2(6);
							  top: calc(50% - vw2(0.5));
							}
						}
					}
					@include mq('sp-up'){
						&:hover{
							span{
								padding-left: vw(96);
								padding-right: vw(40);
								&::after{
									width: vw(26);
								}
							}
						}
					}
					
				}
				.btn2{
					background-color: $c-main;
					padding-left: vw(3);
					span{
						color: white;
						&::before,&::after{
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}

.salon-detail{
	padding-bottom: vw(20);
	@include mq('sp-down'){
	  padding-bottom: vw2(20);
	}
	.salon-flex{
		display: flex;
		align-items: flex-start;
		margin-bottom: vw(10);
		@include mq('sp-down'){
		  margin-bottom: vw2(10);
		}
		h6,p{
			font-size: vw(15);
			font-weight: 400;
			line-height: 1.6666em;
			@include mq('sp-down'){
			  font-size: vw2(15);
			}
		}
		.col1{
			width: vw(60);
			background-color: #E6E6E6;
			flex-shrink: 0;
			@include mq('sp-down'){
			  width: vw2(60);
			  
			}
			h6{
				text-align: center;
			}
		}
		.col2{
			padding-left: vw(10);
			@include mq('sp-down'){
			  padding-left: vw2(10);
			}
		}
	}
}

.salon-detail-fv{
	padding-top: vw(220);
	padding-left: vw(80);
	padding-right: vw(80);
	padding-bottom: vw(94);
	@include mq('sp-down'){
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	  padding-top: vw2(100);
	  padding-bottom: vw2(60);
	}
	.section-inner{
		.flex{
			display: flex;
			@include mq('sp-down'){
			  flex-direction: column;
			}
			h2{
				font-size: vw(90);
				font-family: $ff-main;
				margin-bottom: vw(20);
				@include mq('sp-down'){
				  font-size: vw2(50);
				  margin-bottom: vw2(10);
				}
			}
			.desc{
				font-size: vw(15);
				letter-spacing: 0.02em;
				line-height: 1.46em;
				margin-bottom: vw(32);
				@include mq('sp-down'){
				  font-size: vw2(14);
				  margin-bottom: 1em;
				}
			}
			.left{
				width: 44.5%;
				@include mq('sp-down'){
				  width: 100%;
				  margin-bottom: vw2(20);
				}
				.salonSwiper{
					img{
						width: 100%;
						height: vw(383);
						object-fit: cover;
						@include mq('sp-down'){
						  height: vw2(200);
						}
					}
					margin-bottom: vw(20);
					@include mq('sp-down'){
					  margin-bottom: vw2(10);
					}
				}
				.swiper-thumbnail{
					img{
						width: 100%;
						height: vw(121);
						object-fit: cover;
						@include mq('sp-down'){
						  height: vw2(80);
						}
					}
				}

			}
			.right{
				width: 55.5%;
				padding-left: vw(40);
				@include mq('sp-down'){
					width: 100%;
					padding-left: 0;
				}
				.salon-detail{
					.salon-flex{
						.col{
							h6{
								white-space: nowrap;
							}
						}
					}
				}
				.sns-flex{
					display: flex;
					align-items: center;
					@include mq('sp-down'){
					  justify-content: center;
					}
					img{
						height: vw(20);
						width: auto;
						&.email-icon{
							height: vw(15);
						}
						@include mq('sp-down'){
						  height: vw2(20);
						  &.email-icon{
							height: vw2(15);
						  }
						}
					}
					a{
						margin-right: vw(10);
						@include mq('sp-down'){
						  margin-right: vw2(10);
						  margin-left: vw2(10);
						}
						@include mq('sp-up'){
							transition: all .3s;
							&:hover{
								opacity: .8;
							}
						}
					}
				}
			}
		}
	}
}

.price-sec{
	background-color: $c-main;
	padding-top: vw(50);
	padding-bottom: vw(100);
	@include mq('sp-down'){
	  padding-left: vw2(15);
	  padding-right: vw2(15);
	  padding-top: vw2(50);
	  padding-bottom: vw2(50);
	}
	.section-inner{
		max-width: vw(700);
		margin: auto;
		@include mq('sp-down'){
		  max-width: unset;
		}
		h2{
			font-size: vw(90);
			text-align: center;
			color: white;
			margin-bottom: vw(30);
			@include mq('sp-down'){
			  font-size: vw2(45);
			  margin-bottom: vw2(20);
			}
		}
		ul{
			display: flex;
			justify-content: center;
			margin-bottom: vw(30);
			@include mq('sp-down'){
			  margin-bottom: vw2(20);
			}
			li{
				margin-left: vw(30);
				margin-right: vw(30);
				font-size: vw(23);
				font-weight: bold;
				font-family: $ff-main;
				letter-spacing: 0.02em;
				height: vw(40);
				position: relative;
				cursor: pointer;
				span{
					color: white;
				}
				transition: all .3s;
				@include mq('sp-up'){
					&:hover{
						opacity: .8;
					}
				}
				@include mq('sp-down'){
				  margin-left: vw2(10);
				  margin-right: vw2(10);
				  font-size: vw2(16);
				  height: vw2(25);
				}

				&.is-active{
					&::before{
						content: "";
						width: vw(6);
						height: vw(6);
						background-color: #fff;
						border-radius: 50%;
						position: absolute;
						left: calc(50% - vw(3));
						bottom: 0;
						@include mq('sp-down'){
						  width: vw2(3);
						  height: vw2(3);
						  left: calc(50% - vw2(1.5));
						}
					}
				}
			}
		}

		.white-wrapper{
			background-color: #fff;
			padding: vw(50);
			padding-top: vw(20);
			@include mq('sp-down'){
			  padding: vw2(30) vw2(20);
			  padding-top: vw2(10);
			}
			.flex{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #E6E6E6;
				padding-top: vw(30);
				padding-bottom: vw(15);
				p{
					font-size: vw(20);
					color: #232323;
				}
				@include mq('sp-down'){
				  padding-top: vw2(20);
				  padding-bottom: vw2(10);
				  p{
					font-size: vw2(16);
				  }
				}
			}
			.panel{
				display: none;
				&.is-show{
					display: block;
				}
			}
		}
	}
}

.staff-list{
	padding-top: vw(120);
	padding-left: vw(80);
	padding-bottom: vw(120);
	@include mq('sp-down'){
		padding-left: vw2(15);
		padding-top: vw2(50);
		padding-bottom: vw2(50);
	  }
	h2{
		font-size: vw(90);
		margin-right: vw(50);
		@include mq('sp-down'){
		  font-size: vw2(45);
		  margin-right: vw2(20);
		}
	}
	.swiper{
		.flex{
			display: flex;
			align-items: flex-end;
			margin-bottom: vw(37);
			.prev-next{
				display: flex;
			}
			@include mq('sp-down'){
			  margin-bottom: vw2(20);
			}
		}
		.swiper-button-next,.swiper-button-prev{
			position: static;
			width: vw(55);
			height: vw(55);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $c-main;
			border-radius: 50%;
			margin-top: unset;
			margin-right: vw(15);
			&::after{
				display: none;
			}
			img{
				width: vw(7);
				height: auto;
			}
			@include mq('sp-down'){
			  width: vw2(30);
			  height: vw2(30);
			  margin-right: vw2(10);
			  img{
				width: vw2(5);
			  }
			}
		}
		.swiper-wrapper{
			.swiper-slide{
				img{
					width: 100%;
					margin-bottom: vw(15);
					height: vw(230);
					object-fit: cover;
					@include mq('sp-down'){
					  height: vw2(140);
					  margin-bottom: vw2(10);
					}
				}
				p{
					font-size: vw(14);
					margin-bottom: vw(8);
					color: #b2b2b2;
					line-height: 1em;
					font-weight: 400;
					@include mq('sp-down'){
					  font-size: vw2(14);
					  margin-bottom: vw2(4);
					}
				}
				h5{
					font-family: $ff-main;
					font-size: vw(25);
					font-weight: 400;
					@include mq('sp-down'){
					  font-size: vw2(18);
					}
				}
			}
		}
	}
}

#modal_area {
	background-color: rgba(39, 58, 72,.93);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;

}
  
#modal_area .modal {
	position: absolute;
	margin: 0 auto;
	display: none;
	z-index: 2;
	color: white;
	top: 30%;
	left: 20%;
	@include mq('sp-down'){
	  left: 0;
	  top: 10%;
	}
	.modal-inner{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		@include mq('sp-down'){
		  width: 90%;
		  margin: auto;
		}
	}
	.flex{
		width: 100%;
		display: flex;
		align-items: flex-start;
		@include mq('sp-down'){
		  flex-direction: column;
		}
		.modal-left{
			width: 40.5%;
			@include mq('sp-down'){
			  width: 100%;
			}
			img{
				width: 100%;
				height: vw(350);
				object-fit: cover;
				@include mq('sp-down'){
				  height: auto;
				  width: 100%;
				}
			}
		}
		.modal-right{
			width: 39.5%;
			padding-left: vw(30);
			@include mq('sp-down'){
				width: 100%;
				padding-left: 0;
				margin-top: vw2(20);
			}
			p{
				color: white;
				line-height: .9em;
				@include mq('sp-down'){
				  line-height: 1.3em;
				}
			}
			.mini{
				font-size: vw(14);
				@include mq('sp-down'){
				  font-size: vw2(14);
				}
			}
			.name{
				font-family: $ff-main;
				font-size: vw(40);
				font-weight: bold;
				line-height: .7em;
				margin-bottom: vw(25);
				@include mq('sp-down'){
				  font-size: vw2(28);
				  line-height: 1em;
				  margin-bottom: vw2(10);
				}
			}
			.medium{
				margin-bottom: vw(5);
				font-size: vw(25);
				font-weight: 700;
				@include mq('sp-down'){
				  font-size: vw2(18);
				  margin-bottom: vw2(3);
				}
			}
			.normal{
				font-size: vw(17);
				margin-bottom: vw(25);
				@include mq('sp-down'){
				  font-size: vw2(16);
				  margin-bottom: vw2(10);
				}
			}
			a{

				img{
					width: vw(39);
					@include mq('sp-down'){
					  width: vw2(20);
					  
					}
				}
			}
		}
	}
}

.tel{
	pointer-events: none;
	text-decoration: none;
	>*{
		pointer-events: none;
		text-decoration: none;
	}
}


.archive-fv{
	padding-top: vw(196);
	padding-bottom: vw(50);
	@include mq('sp-down'){
		padding-top: vw2(80);
		padding-bottom: vw2(40);
	}
	.section-inner{
		display: block;
		h1{
			text-align: center;
			font-size: vw(130);
			@include mq('sp-down'){
				font-size: vw2(50);
			}
		}
	}

}

.blog-category-list{
	padding-bottom: vw(60);
	@include mq('sp-down'){
	  padding-bottom: vw2(30);
	}
	.section-inner{
		ul{
			display: flex;
			justify-content: center;
			@include mq('sp-down'){
			  flex-wrap: wrap;
			}
			li{
				margin-left: vw(2.5);
				margin-right: vw(2.5);
				a{
					display: block;
					text-align: center;
					font-size: vw(15);
					line-height: 2em;
					padding-left: vw(50);
					padding-right: vw(50);
					border-radius: 99px;
					border: 1px solid $c-main;
					transition: all .3s;
					min-width: vw(120);
					&.current{
						background-color: $c-main;
						color: white;
						pointer-events: none;
					}
					@include mq('sp-up'){
						transition: all .3s;
						position: relative;
						top: 0;
						&:hover{
							top: vw(-2);
							box-shadow: 2px 2px 3px lightgray;
						}
					}
				}
				@include mq('sp-down'){
				  margin-left: vw2(2.5);
				  margin-right: vw2(2.5);
				  margin-bottom: vw2(5);
				  a{
					font-size: vw2(12);
					padding-left:  vw2(20);
					padding-right: vw2(20);
					width: vw2(100);
				  }
				}
			}
		}
	}
}

.blog-list-sec{
	padding-left: vw(80);
	padding-right: vw(80);
	padding-bottom: vw(170);
	@include mq('sp-down'){
		padding-left: vw2(15);
		padding-right: vw2(15);
		padding-bottom: vw2(50);
	}
	.section-inner{
		ul{
			display: flex;
			flex-wrap: wrap;
			padding-bottom: vw(50);
			@include mq('sp-down'){
			  padding-bottom: vw2(10);
			}
			li{
				width: calc(33.33333% - vw(16.6666));
				margin-right: vw(25);
				margin-bottom: vw(30);
				@include mq('sp-up'){
					&:nth-child(3n){
						margin-right: 0;
					}
				}
				@include mq('sp-down'){
					margin-right: vw2(0);
					margin-bottom: vw2(30);
					width: 100%;
				}
				.img-wrapper{
					margin-bottom: vw(15);
					@include mq('sp-down'){
					  margin-bottom: vw2(15);
					}
				}
				img{
					width: 100%;
					transition: all .3s;
				}
				
				.flex{
					display: flex;
					align-items: center;
					margin-bottom: vw(7);
					@include mq('sp-down'){
					  margin-bottom: vw2(5);
					}
					time{
						font-size: vw(14);
						font-weight: bold;
						margin-right: vw(10);
						font-family: $ff-main;
						@include mq('sp-down'){
						  font-size: vw2(12);
						  margin-right: vw2(5);
						}
					}
					.cat{
						padding-left: vw(15);
						padding-right: vw(15);
						background-color: $c-main;
						border-radius: 99px;
						p{
							text-align: center;
							font-size: vw(13);
							line-height: 1.384em;
							color: white;
							letter-spacing: 0.02em;
						}
						@include mq('sp-down'){
						  padding-left: vw2(10);
						  padding-right: vw2(10);
						  p{
							font-size: vw2(12);
						  }
						}
					}
				}
				h6{
					font-size: vw(17);
					letter-spacing: 0.02em;
					line-height: 1.29em;
					@include mq('sp-down'){
					  font-size: vw2(14);
					}
				}
				a{
					.img-wrapper{
						overflow: hidden;
					}
					&:hover{
						.img-wrapper{
							img{
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}


	}
}

.pagination{
	display: flex;
	justify-content: center;
	.current{
		width: vw(45);
		background-color: $c-main;
		color: white;
		text-align: center;
		border-radius: 50%;
		@include mq('sp-down'){
		  width: vw2(30);
		}
	}
	.pagination-wrapper{
		display: flex;
		justify-content: center;
		a,span{
			margin-left: vw(15);
			margin-right: vw(15);
			font-size: vw(17);
			line-height: vw(45);
			display: block;
			font-family: $ff-main;
			@include mq('sp-down'){
			  margin-left: vw2(10);
			  margin-right: vw2(10);
			  font-size: vw2(12);
			  line-height: vw2(30);
			}
		}
		a{
			@include mq('sp-up'){
				transition: all .3s;
				&:hover{
					opacity: .7;
				}
			}
		}
		.dot{
			font-size: 10px;
			letter-spacing: -0.6em;
		}
		position: relative;
		.next{
			position: absolute;
			width: vw(45);
			height: vw(45);
			display: flex;
			justify-content: center;
			align-items: center;
			right: vw(-100);
			img{
				width: vw(6);
				height: auto;
			}
			@include mq('sp-down'){
			  width: vw2(30);
			  height: vw2(30);
			  right: vw2(-60);
			  img{
				width: vw2(3);
			  }
			}
		}
	}

	 
}

.archive-news{
	padding-top: vw(50);
	@include mq('sp-down'){
	  padding-top: vw2(0);
	}
	.pagination{
		padding-top: vw(80);
		@include mq('sp-down'){
		  padding-top: vw2(40);
		}
	}
}

.single-fv{
	padding-top: vw(200);
	background-color: #E6E6E6;
	padding-bottom: vw(22);
	@include mq('sp-down'){
	  padding-top: vw2(80);
	  padding-bottom: vw2(20);
	  padding-left: vw2(20);
	  padding-right: vw2(20);
	}
	.section-inner{
		max-width: vw(940);
		margin: auto;
		display: block;
		h1{
			font-size: vw(50);
			font-weight: bold;
			letter-spacing: 0.02em;
			margin-bottom: vw(20);
		}
		@include mq('sp-down'){
		  max-width: unset;
		  h1{
			font-size: vw2(24);
			margin-bottom: vw2(10);
		  }
		}
	}
	.flex{
		display: flex;
		align-items: center;
		margin-bottom: vw(7);
		@include mq('sp-down'){
		  margin-bottom: vw2(5);
		}
		time{
			font-size: vw(14);
			font-weight: bold;
			margin-right: vw(10);
			font-family: $ff-main;
			@include mq('sp-down'){
			  font-size: vw2(12);
			  margin-right: vw2(5);
			}
		}
		.cat{
			padding-left: vw(15);
			padding-right: vw(15);
			background-color: $c-main;
			border-radius: 99px;
			p{
				text-align: center;
				font-size: vw(13);
				line-height: 1.384em;
				color: white;
				letter-spacing: 0.02em;
			}
			@include mq('sp-down'){
			  padding-left: vw2(10);
			  padding-right: vw2(10);
			  p{
				font-size: vw2(12);
			  }
			}
		}
	}
}

.content-sec{
	padding-top: vw(50);
	padding-bottom: vw(170);
	@include mq('sp-down'){
	  padding-top: vw2(30);
	  padding-bottom: vw2(50);
	  padding-left: vw2(20);
	  padding-right: vw2(20);
	}
	.section-inner{
		max-width: vw(940);
		margin: auto;
		@include mq('sp-down'){
		  max-width: unset;
		}
		.thumb{
			width: 100%;
			height: vw(500);
			object-fit: cover;
			object-position: top center;
			margin-bottom: vw(50);
			@include mq('sp-down'){
			  height: vw2(200);
			  margin-bottom: vw2(20);
			}
		}
		.content{
			padding-bottom: vw(80);
			@include mq('sp-down'){
			  padding-bottom: vw2(40);
			}
			h1,h2,h3,h4,h5,h6,ul{
				margin-top: vw(30);
				@include mq('sp-down'){
				  margin-top: vw2(20);
				}
			}
			h1{
				font-size: vw(34);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
				  font-size: vw2(26);
				  padding: vw2(5) vw2(10);
				}
			}
			h2{
				font-size: vw(28);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
					font-size: vw2(22);
					padding: vw2(5) vw2(10);
				}
			}
			h3{
				font-size: vw(24);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
					font-size: vw2(20);
					padding: vw2(5) vw2(10);
				}
			}
			h4{
				font-size: vw(20);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
					font-size: vw2(18);
					padding: vw2(5) vw2(10);
				}
			}
			h5{
				font-size: vw(18);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
					font-size: vw2(16);
					padding: vw2(5) vw2(10);
				}
			}
			h6{
				font-size: vw(16);
				padding: vw(9) vw(15);
				background-color: $c-main;
				color: white;
				font-weight: 400;
				@include mq('sp-down'){
					font-size: vw2(14);
					padding: vw2(5) vw2(10);
				}
			}
			p{
				margin-top: vw(10);
				font-size: vw(15);
				@include mq('sp-down'){
					margin-top: vw2(10);
					font-size: vw2(14);
				}
			}
			li{
				font-size: vw(15);
				line-height: 1.5em;
				@include mq('sp-down'){
					font-size: vw2(14);
				}
			}
		}
	}
}

.archive-fv{
	padding-top: vw(196);
	padding-bottom: unset;
	@include mq('sp-down'){
		padding-top: vw2(80);
		padding-left: vw2(20);
		padding-right: vw2(20);
	}
	.section-inner{
		display: block;
		h1{
			text-align: center;
			font-size: vw(130);
			padding-bottom: vw(30);
			@include mq('sp-down'){
				font-size: vw2(50);
				padding-bottom: vw2(20);
			}
		}
		p{
			text-align: center;
			line-height: 1.6em;
			text-align: center;
			font-size: vw(15);
			padding-bottom: vw(30);
			@include mq('sp-down'){
			  font-size: vw2(14);
			  padding-bottom: vw2(15);
			}
		}
		ul{
			display: flex;
			justify-content: center;
			padding-bottom: vw(25);
			@include mq('sp-down'){
			  flex-wrap: wrap;
			  padding-bottom: vw2(20);
			}
			li{
				margin-left: vw(5);
				margin-right: vw(5);
				@include mq('sp-down'){
				  margin-left: vw2(5);
				  margin-right: vw2(5);
				  margin-bottom: vw2(10);
				}
				a{
					display: block;
					text-align: center;
					min-width: vw(250);
					font-size: vw(15);
					line-height: 2em;
					border: 1px solid $c-main;
					border-radius: 99px;
					&.current{
						background-color: $c-main;
						span{
							color: white;
						}
					}
					@include mq('sp-down'){
					  min-width: vw2(150);
					  font-size: vw2(11);
					  white-space: nowrap;
					  
					}
					top: 0;
					position: relative;
					transition: all .3s;
					@include mq('sp-up'){
						&:hover{
							top: vw(-3);
							box-shadow: 0px 3px 3px lightgray;
						}
	
					}
				}
			}
		}
	}

}

.contact-content{
	padding-bottom: vw(170);
	padding-left: vw(20);
	padding-right: vw(20);
	@include mq('sp-down'){
	  padding-left: vw2(20);
	  padding-right: vw2(20);
	  padding-bottom: vw2(100);
	}
	.section-inner{
		max-width: vw(940);
		margin: auto;
		@include mq('sp-down'){
		  max-width: unset;
		}
		.bg-gray{
			padding: vw(50) vw(80);
			background-color: #E6E6E6;
			@include mq('sp-down'){
			  padding: vw2(40) vw2(10);
			}
			.red{
				color: #F92B50;
				font-size: vw(15);
				letter-spacing: 0.02em;
				padding-bottom: vw(20);
				@include mq('sp-down'){
				  font-size: vw2(14);
				  padding-bottom: vw2(10);
				}
			}
			table{
				width: 100%;
				border-collapse: separate;
				border-spacing: 0 vw(10);
				@include mq('sp-down'){
				  border-spacing: 0 vw2(10);
				}
				tr{
					@include mq('sp-down'){
					  display: flex;
					  flex-direction: column;
					}
					th{
						width: vw(180);
						font-size: vw(15);
						letter-spacing: 0.02em;
						font-family: $ff-txt;
						vertical-align: baseline;
						padding-top: vw(14);
						span{
							padding-left: vw(2);
						}
						@include mq('sp-down'){
						  width: 100%;
						  font-size: vw2(14);
						  padding-top: vw2(4);
						  padding-right: vw2(10);
						  line-height: 1.3em;
						  margin-bottom: vw2(5);
						  span{
							padding-left: vw2(1);
						  }
						}
					}
					td{
						@include mq('sp-down'){
						  margin-bottom: vw2(10);
						}
						input{
							width: 100%;
							height: vw(40);
							border: none;
							padding-left: vw(10);
							font-family: $ff-txt;
							font-size: vw(15);
							@include mq('sp-down'){
							  height: vw2(30);
							  padding-left: vw2(10);
							  font-size: vw2(14);
							}
						}
						textarea{
							width: 100%;
							height: vw(250);
							border: none;
							padding: vw(10);
							line-height: 1.4em;
							font-family: $ff-txt;
							font-size: vw(15);
							@include mq('sp-down'){
								height: vw2(150);
								padding: vw2(10);
								font-size: vw2(14);
							}
						}
					}
				}
			}
			.check-wrapper{
				margin-top: vw(20);
				display: flex;
				justify-content: center;
				align-items: center;
				@include mq('sp-down'){
				  margin-top: vw2(10);
				}
				label{
					font-size: vw(15);
					letter-spacing: 0.02em;
					font-family: $ff-txt;
					display: flex;
					justify-content: center;
					align-items: center;
					@include mq('sp-down'){
					  font-size: vw2(13);
					}
				}
				input[type="checkbox"] {
					position: relative;
					width: vw(10);
					height: vw(10);
					margin: 0;
					border: 1px solid #000;
					vertical-align: vw(-5);
					-webkit-appearance: none;
					   -moz-appearance: none;
							appearance: none;
					margin-right: vw(5);
					border-radius: 0px;
					@include mq('sp-down'){
					  width: vw2(10);
					  height: vw2(10);
					  vertical-align: vw2(-5);
					  margin-right: vw2(5);
					}
				  }
				  
				  input[type="checkbox"]:checked:before {
					position: absolute;
					top: vw(-0.5);
					left: vw(3);
					transform: rotate(50deg);
					width: vw(4);
					height: vw(8);
					border-right: vw(1) solid $c-main;
					border-bottom: vw(1) solid $c-main;
					content: '';
					@include mq('sp-down'){
					  top: vw2(-0.5);
					  left: vw2(3);
					  width: vw2(4);
					  height: vw2(8);
					  border-bottom-width: 1px;
					  border-right-width:1px;
					}
				  }
			}
		}
		.submit-wrapper{
			display: flex;
			justify-content: center;
			padding-top: vw(40);
			&.submit-wrapper2{
				padding-top: 0;
			}
			@include mq('sp-down'){
			  padding-top: vw2(20);
			  &.submit-wrapper2{
				padding-top: vw2(20);
			  }
			}
			.btn{
				width: vw(350);
				text-align: center;
				display: block;
				line-height: vw(60);
				background-color: $c-main;
				color: white;
				font-size: vw(25);
				font-family: $ff-txt;
				border-radius: 99px;
				position: relative;
				top: 0;
				transition: all .3s;
				cursor: pointer;
				@include mq('sp-up'){
					&.btn2{
						font-size: vw(17);
					}
					&:hover{
						top: vw(-3);
						box-shadow: 0px 3px 3px lightgray;
					}

				}
				@include mq('sp-down'){
				  width: vw2(250);
				  line-height: vw2(50);
				  font-size: vw2(20);
				  &.btn2{
					font-size: vw2(16);
				  }
				}
			}
		}
	}
}