@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  color: #273A48;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #273A48;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.note-show {
  display: none;
}
@media (max-width: 1279px) {
  .note-show {
    display: block;
  }
}

.note-hide {
  display: block;
}
@media (max-width: 1279px) {
  .note-hide {
    display: none;
  }
}

.tab-show {
  display: none;
}
@media (max-width: 1024px) {
  .tab-show {
    display: block;
  }
}

.tab-hide {
  display: block;
}
@media (max-width: 1024px) {
  .tab-hide {
    display: none;
  }
}

.sp-show {
  display: none;
}
@media (max-width: 767px) {
  .sp-show {
    display: block;
  }
}

img.sp-show {
  display: none;
}
@media (max-width: 767px) {
  img.sp-show {
    display: inline;
  }
}

.sp-hide {
  display: block;
}
@media (max-width: 767px) {
  .sp-hide {
    display: none;
  }
}

img.sp-hide {
  display: inline;
}
@media (max-width: 767px) {
  img.sp-hide {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "minion-pro";
  font-weight: bold;
}

p, li, a {
  font-family: "Athelas";
}

time {
  font-family: "Abril Fatface";
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 70px;
  font-family: "Athelas";
  font-weight: 400;
}
@media (max-width: 767px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-inner .logo img {
  height: 50px;
}
@media (max-width: 767px) {
  header .header-inner .logo img {
    height: 40px;
  }
}
header .header-inner .right {
  display: flex;
  align-items: center;
}
header .header-inner .right .menu {
  display: flex;
  align-items: center;
}
header .header-inner .right .menu li {
  margin-right: 40px;
  font-size: 15px;
}
header .header-inner .right .menu li:last-child {
  margin-right: 30px;
}
header .header-inner .right .menu li:not(.reserve) a {
  position: relative;
}
header .header-inner .right .menu li:not(.reserve) a::before {
  content: "";
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 1px;
  background-color: #273A48;
  transition: all 0.3s;
}
header .header-inner .right .menu li:not(.reserve) a:hover::before {
  width: 100%;
  left: 0%;
}
header .header-inner .right .menu .reserve a {
  display: block;
  padding: 12px 45px;
  border-radius: 99px;
  border: 1px solid #273A48;
  position: relative;
  top: 0;
  transition: all 0.3s;
}
header .header-inner .right .menu .reserve a:hover {
  top: -2px;
  box-shadow: 0 3px 10px lightgray;
}
@media (max-width: 767px) {
  header .header-inner .right .menu {
    display: none;
  }
}
header .header-inner .right .burger {
  width: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .header-inner .right .burger {
    width: 50px;
  }
}
header .header-inner .right .burger span {
  width: 100%;
  height: 2px;
  background-color: #273A48;
  display: block;
  position: relative;
  top: 0px;
  transition: all 0.4s;
}
header .header-inner .right .burger.active .sp1 {
  transform: rotate(15deg);
  top: 7.5px;
}
header .header-inner .right .burger.active .sp2 {
  transform: rotate(-15deg);
  top: -4.5px;
}

main {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

h2 {
  font-size: 5.5555555556vw;
  line-height: 0.875em;
}
@media (max-width: 767px) {
  h2 {
    font-size: 6.9333333333vw;
  }
}

p {
  line-height: 1.4667em;
  font-size: 1.0416666667vw;
  font-family: "Athelas";
  font-weight: 400;
  letter-spacing: 0.02em;
}
@media (max-width: 767px) {
  p {
    font-size: 3.7333333333vw;
  }
}

.fv {
  padding-top: 14.1666666667vw;
}
@media (max-width: 767px) {
  .fv {
    padding-top: 21.3333333333vw;
  }
}
.fv .section-inner {
  display: flex;
}
.fv .section-inner .left {
  width: 76.18%;
  flex-shrink: 0;
  padding-top: 2.2916666667vw;
}
.fv .section-inner .left .img-wrapper img {
  width: 100%;
}
.fv .section-inner .left h1 {
  padding-left: 5.5555555556vw;
  font-size: 9.0277777778vw;
  font-family: "minion-pro";
  font-weight: bold;
  position: relative;
  z-index: 3;
  line-height: 0.9076em;
  margin-bottom: -1.1111111111vw;
}
@media (max-width: 767px) {
  .fv .section-inner .left h1 {
    font-size: 13.3333333333vw;
    padding-left: 2.6666666667vw;
  }
}
.fv .section-inner .left p {
  margin-top: 2em;
  padding-left: 5.5555555556vw;
}
@media (max-width: 767px) {
  .fv .section-inner .left p {
    white-space: nowrap;
    margin-top: 1em;
    padding-left: 2.6666666667vw;
  }
}
@media (max-width: 767px) {
  .fv .section-inner .left {
    width: 85%;
  }
}
.fv .section-inner .right {
  padding-left: 4.3055555556vw;
  padding-top: 24.5138888889vw;
}
.fv .section-inner .right .img-wrapper img {
  width: 100%;
}
@media (max-width: 767px) {
  .fv .section-inner .right {
    padding-top: 25.3333333333vw;
    padding-left: 2.6666666667vw;
  }
}
.fv .section-inner .img-wrapper {
  overflow: hidden;
  position: relative;
}
.fv .section-inner .img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: 2s cubic-bezier(0.68, 0.05, 0, 0.87);
  will-change: height;
}
.fv .section-inner .img-wrapper img {
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition: 2.2s ease;
  will-change: transform;
}
.fv .section-inner .img-wrapper.animated::before {
  height: 0;
}
.fv .section-inner .img-wrapper.animated img {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.fv.kaso-fv {
  padding-top: 11.4583333333vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
}
.fv.kaso-fv .left {
  width: 100%;
  padding-top: 0;
}
.fv.kaso-fv .left h1 {
  padding-left: 0;
}
@media (max-width: 767px) {
  .fv.kaso-fv .left h1 {
    margin-bottom: -2.1333333333vw;
  }
}
.fv.kaso-fv .left p {
  padding-left: 0;
  margin-top: 1.3888888889vw;
}
@media (max-width: 767px) {
  .fv.kaso-fv .left p {
    margin-top: 1.3888888889vw;
    padding-left: 4vw;
    padding-right: 4vw;
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .fv.kaso-fv {
    padding-top: 21.3333333333vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

.shrink-sec {
  padding-top: 7.9861111111vw;
  padding-bottom: 8.8194444444vw;
}
@media (max-width: 767px) {
  .shrink-sec {
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
}
.shrink-sec .section-inner .img-wrapper {
  overflow: hidden;
}
.shrink-sec .section-inner .img-wrapper img {
  width: 100%;
  transform: scale(0.9);
  will-change: transform;
}
@media (max-width: 767px) {
  .shrink-sec .section-inner .img-wrapper img {
    transform: scale(0.96576);
  }
  .shrink-sec .section-inner .img-wrapper img.about-img {
    transform: scale(0.95);
  }
}
.shrink-sec .section-inner h2 {
  line-height: 1em;
  text-align: center;
  padding-top: 6.9444444444vw;
  margin-bottom: 1.0416666667vw;
}
@media (max-width: 767px) {
  .shrink-sec .section-inner h2 {
    padding-top: 10.6666666667vw;
    margin-bottom: 5.3333333333vw;
  }
}
.shrink-sec .section-inner p {
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.damagefree {
  padding-top: 4.8611111111vw;
  padding-bottom: 13.5416666667vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  background-color: #E6E6E6;
}
@media (max-width: 767px) {
  .damagefree {
    padding-top: 16vw;
    padding-bottom: 16vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.damagefree h2 {
  text-align: center;
  line-height: 1em;
  margin-bottom: 1.0416666667vw;
}
@media (max-width: 767px) {
  .damagefree h2 {
    margin-bottom: 5.3333333333vw;
  }
}
.damagefree p {
  text-align: center;
  margin-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .damagefree p {
    margin-bottom: 10.6666666667vw;
  }
}
.damagefree .flex {
  display: flex;
}
.damagefree .flex .left {
  width: 77.0833333333vw;
}
@media (max-width: 767px) {
  .damagefree .flex .left {
    width: 88vw;
  }
}
.damagefree .flex .left .parent-ul > li {
  padding-top: 1.1805555556vw;
  padding-left: 1.7361111111vw;
  padding-bottom: 1.6666666667vw;
  border-top: 1px solid #232323;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .damagefree .flex .left .parent-ul > li {
    padding-top: 6.6666666667vw;
    padding-left: 5.3333333333vw;
    padding-bottom: 2.6666666667vw;
    padding-right: 2.6666666667vw;
  }
}
.damagefree .flex .left .parent-ul > li .num {
  position: absolute;
  font-size: 0.9027777778vw;
  left: 0.1388888889vw;
  top: 0.3472222222vw;
}
@media (max-width: 767px) {
  .damagefree .flex .left .parent-ul > li .num {
    left: 1.0666666667vw;
    top: 0.5333333333vw;
    font-size: 3.7333333333vw;
  }
}
.damagefree .flex .left .parent-ul > li h5 {
  font-size: 1.7361111111vw;
  line-height: 1.2em;
  margin-bottom: 0.6944444444vw;
}
@media (max-width: 767px) {
  .damagefree .flex .left .parent-ul > li h5 {
    font-size: 4.2666666667vw;
    margin-bottom: 2.6666666667vw;
  }
}
.damagefree .flex .left .parent-ul > li .child-ul {
  display: none;
}
.damagefree .flex .left .parent-ul > li .child-ul li {
  padding-left: 0.9722222222vw;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.4667em;
  margin-bottom: 0.1388888889vw;
  font-size: 0.9722222222vw;
}
.damagefree .flex .left .parent-ul > li .child-ul li::before {
  content: "";
  width: 0.5555555556vw;
  height: 0.5555555556vw;
  position: absolute;
  background-image: url(../img/square.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0.4166666667vw;
}
.damagefree .flex .left .parent-ul > li .child-ul li:last-child {
  margin-bottom: 0;
}
.damagefree .flex .left .parent-ul > li .child-ul li.no-indent {
  padding-left: 0;
  max-width: 51.3888888889vw;
}
.damagefree .flex .left .parent-ul > li .child-ul li.no-indent::before {
  display: none;
}
@media (max-width: 767px) {
  .damagefree .flex .left .parent-ul > li .child-ul li {
    padding-left: 3.2vw;
    font-size: 3.2vw;
    margin-bottom: 0.5333333333vw;
  }
  .damagefree .flex .left .parent-ul > li .child-ul li::before {
    width: 2.1333333333vw;
    height: 2.1333333333vw;
    top: 1.3333333333vw;
  }
  .damagefree .flex .left .parent-ul > li .child-ul li.no-indent {
    max-width: unset;
  }
}
.damagefree .flex .left .parent-ul > .li-active {
  background-color: #273A48;
}
.damagefree .flex .left .parent-ul > .li-active .num {
  color: white;
}
.damagefree .flex .left .parent-ul > .li-active h5, .damagefree .flex .left .parent-ul > .li-active li {
  color: white;
}
.damagefree .flex .right {
  margin-left: -21.5277777778vw;
  width: 33.3333333333vw;
  padding-top: 2.0833333333vw;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .damagefree .flex .right {
    width: 32vw;
    margin-left: -28vw;
    padding-top: 57.3333333333vw;
  }
}
.damagefree .flex .right .img-wrapper img {
  width: 100%;
  display: none;
  opacity: 0;
}
.damagefree .flex .right .img-wrapper img.img-active {
  display: block;
  animation: fadeInUp 0.3s ease-out forwards;
}
@media (max-width: 767px) {
  .damagefree .flex .right .img-wrapper #num3-img {
    margin-top: 22.6666666667vw;
  }
}

.result {
  padding-top: 13.8888888889vw;
  padding-bottom: 12.5vw;
}
@media (max-width: 767px) {
  .result {
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
}
.result .section-inner h2 {
  text-align: center;
  padding-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .result .section-inner h2 {
    padding-bottom: 5.3333333333vw;
  }
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide {
  padding-left: 2.7777777778vw;
  padding-right: 2.7777777778vw;
  padding-bottom: 1.3888888889vw;
  position: relative;
}
@media (max-width: 767px) {
  .result .section-inner .swiper .swiper-wrapper .swiper-slide {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2.6666666667vw;
  }
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide h6 {
  text-align: center;
  font-size: 2.4305555556vw;
  line-height: 1.15em;
  margin-bottom: 1.3888888889vw;
}
@media (max-width: 767px) {
  .result .section-inner .swiper .swiper-wrapper .swiper-slide h6 {
    font-size: 5.3333333333vw;
    margin-bottom: 2.6666666667vw;
  }
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .main-img {
  position: relative;
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .main-img img {
  width: 100%;
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .main-img::before {
  content: "After";
  position: absolute;
  right: 1.5972222222vw;
  top: 2.0833333333vw;
  font-size: 5.5555555556vw;
  font-family: "minion-pro";
  font-weight: bold;
}
@media (max-width: 767px) {
  .result .section-inner .swiper .swiper-wrapper .swiper-slide .main-img::before {
    right: 2.6666666667vw;
    top: 1.3333333333vw;
    font-size: 5.3333333333vw;
  }
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .sub-img {
  width: 12.75vw;
  position: absolute;
  left: 0;
  bottom: 0;
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .sub-img img {
  width: 100%;
}
.result .section-inner .swiper .swiper-wrapper .swiper-slide .sub-img::before {
  content: "Before";
  position: absolute;
  left: 0.6597222222vw;
  bottom: 0;
  font-size: 1.7361111111vw;
  font-weight: bold;
  font-family: "minion-pro";
}
@media (max-width: 767px) {
  .result .section-inner .swiper .swiper-wrapper .swiper-slide .sub-img {
    width: 16vw;
  }
  .result .section-inner .swiper .swiper-wrapper .swiper-slide .sub-img::before {
    left: 0.6666666667vw;
    font-size: 2.6666666667vw;
  }
}
.result .section-inner .swiper .swiper-nav {
  width: 1.0416666667vw;
  height: 2.4305555556vw;
}
.result .section-inner .swiper .swiper-nav img {
  width: 100%;
}
.result .section-inner .swiper .swiper-nav::after {
  display: none;
}
@media (max-width: 767px) {
  .result .section-inner .swiper .swiper-nav {
    width: 2vw;
    height: 4.6666666667vw;
  }
}
.result .section-inner .swiper .swiper-button-prev {
  left: calc(25% - 0.6944444444vw);
}
.result .section-inner .swiper .swiper-button-next {
  right: calc(25% - 0.6944444444vw);
}
.result .section-inner .swiper .swiper-button-next, .result .section-inner .swiper .swiper-button-prev {
  top: 60%;
}

.reservation-banner {
  background-color: #273A48;
  padding-top: 4.7222222222vw;
  padding-bottom: 2.2222222222vw;
}
@media (max-width: 767px) {
  .reservation-banner {
    padding-top: 5.3333333333vw;
    padding-bottom: 2.6666666667vw;
  }
}
.reservation-banner .swiper-wrapper {
  transition-timing-function: linear;
}
.reservation-banner .swiper-wrapper .swiper-slide {
  padding-bottom: 1.6666666667vw;
}
.reservation-banner .swiper-wrapper .swiper-slide a {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .reservation-banner .swiper-wrapper .swiper-slide {
    padding-bottom: 1.3333333333vw;
  }
}
.reservation-banner .swiper-wrapper .swiper-slide h1 {
  font-size: 8.3333333333vw;
  color: white;
}
@media (max-width: 767px) {
  .reservation-banner .swiper-wrapper .swiper-slide h1 {
    font-size: 8.5333333333vw;
  }
}
.reservation-banner .swiper-wrapper .swiper-slide img {
  width: 3.6111111111vw;
  height: 3.6111111111vw;
  position: relative;
  left: 1.3888888889vw;
  top: 1.3888888889vw;
}
@media (max-width: 767px) {
  .reservation-banner .swiper-wrapper .swiper-slide img {
    width: 3.7333333333vw;
    height: 3.7333333333vw;
    top: 0.8vw;
    left: 1.6vw;
  }
}

.more {
  display: flex;
  justify-content: center;
}
.more.center {
  justify-content: center;
}
.more.end {
  justify-content: flex-end;
}
.more a {
  display: block;
  font-size: 1.3888888889vw;
  font-family: "minion-pro";
  font-weight: bold;
  padding-right: 4.375vw;
  position: relative;
  transition: all 0.3s;
  padding-left: 0;
}
@media (max-width: 767px) {
  .more a {
    font-size: 4.2666666667vw;
    padding-right: 8vw;
  }
}
.more a::before {
  content: "";
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  background-color: #273A48;
  border-radius: 99px;
  position: absolute;
  right: 0;
  top: calc(50% - 0.1041666667vw);
}
@media (max-width: 767px) {
  .more a::before {
    width: 0.5333333333vw;
    height: 0.5333333333vw;
    top: calc(50% - 0.2666666667vw);
  }
}
.more a::after {
  content: "";
  background-color: #273A48;
  width: 3.4027777778vw;
  position: absolute;
  height: 0.0694444444vw;
  right: 0.5555555556vw;
  top: calc(50% - 0.0347222222vw);
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .more a::after {
    width: 4.8vw;
    height: 0.2666666667vw;
    right: 1.6vw;
    top: calc(50% - 0.1333333333vw);
  }
}
@media (min-width: 768px) {
  .more a:hover {
    padding-left: 0.6944444444vw;
    padding-right: 3.6805555556vw;
  }
  .more a:hover::after {
    width: 2.7083333333vw;
  }
}

.customer-case {
  padding-top: 12.5vw;
  padding-bottom: 11.1111111111vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
}
@media (max-width: 767px) {
  .customer-case {
    padding-top: 16vw;
    padding-bottom: 16vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.customer-case h2 {
  text-align: center;
  margin-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .customer-case h2 {
    margin-bottom: 5.3333333333vw;
  }
}
.customer-case .flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .customer-case .flex {
    padding-bottom: 5.3333333333vw;
    flex-direction: column;
  }
}
.customer-case .flex .card {
  width: calc(33.3333% - 1.8518472222vw);
}
@media (max-width: 767px) {
  .customer-case .flex .card {
    width: 100%;
    margin-bottom: 5.3333333333vw;
  }
}
.customer-case .flex .card img {
  width: 100%;
  margin-bottom: 1.0416666667vw;
}
@media (max-width: 767px) {
  .customer-case .flex .card img {
    margin-bottom: 2.6666666667vw;
  }
}
.customer-case .flex .card p {
  font-size: 1.0416666667vw;
  line-height: 1.4666em;
}
@media (max-width: 767px) {
  .customer-case .flex .card p {
    font-size: 3.2vw;
  }
}

.news {
  padding-bottom: 11.8055555556vw;
  padding-left: 17.3611111111vw;
  padding-right: 17.3611111111vw;
}
@media (max-width: 767px) {
  .news {
    padding-bottom: 16vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.news .section-inner h2 {
  margin-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .news .section-inner h2 {
    margin-bottom: 5.3333333333vw;
  }
}
@media (max-width: 767px) {
  .news .section-inner ul {
    margin-bottom: 5.3333333333vw;
  }
}
.news .section-inner ul li {
  border-top: 1px solid #d6d6d6;
}
.news .section-inner ul li a {
  display: block;
  transition: all 0.3s;
  padding-top: 1.3888888889vw;
  padding-bottom: 1.3888888889vw;
}
@media (max-width: 767px) {
  .news .section-inner ul li a {
    padding-top: 2.6666666667vw;
    padding-bottom: 2.6666666667vw;
  }
}
@media (min-width: 768px) {
  .news .section-inner ul li a:hover {
    background-color: #E6E6E6;
  }
}
.news .section-inner ul li a .flex {
  display: flex;
  margin-bottom: 0.3472222222vw;
}
@media (max-width: 767px) {
  .news .section-inner ul li a .flex {
    margin-bottom: 0.6666666667vw;
  }
}
.news .section-inner ul li a .flex time {
  color: #BFBFBF;
  margin-right: 0.6944444444vw;
  font-size: 1.1111111111vw;
}
@media (max-width: 767px) {
  .news .section-inner ul li a .flex time {
    margin-right: 1.3333333333vw;
    font-size: 3.2vw;
  }
}
.news .section-inner ul li a .flex .cat {
  padding: 0.0694444444vw 0.3472222222vw;
  background-color: #BFBFBF;
  font-size: 0.9027777778vw;
  color: white;
  letter-spacing: 0.02em;
}
@media (max-width: 767px) {
  .news .section-inner ul li a .flex .cat {
    padding: 0.2666666667vw 1.3333333333vw;
    font-size: 2.9333333333vw;
  }
}
.news .section-inner ul li a p {
  font-size: 1.1805555556vw;
  line-height: 1.29em;
  letter-spacing: 0.02em;
}
@media (max-width: 767px) {
  .news .section-inner ul li a p {
    font-size: 3.7333333333vw;
  }
}

footer {
  background-color: #273A48;
  padding-top: 3.4722222222vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  padding-bottom: 3.125vw;
}
@media (max-width: 767px) {
  footer {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5.3333333333vw;
    padding-bottom: 2.6666666667vw;
  }
}
footer a, footer p {
  color: white;
}
footer a:not(.logo) {
  position: relative;
}
footer a:not(.logo)::before {
  content: "";
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  footer a:not(.logo):hover::before {
    width: 100%;
    left: 0%;
  }
}
footer .top {
  padding-bottom: 6.9444444444vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .top {
    padding-bottom: 5.3333333333vw;
  }
}
footer .top li {
  font-size: 0.9722222222vw;
}
@media (max-width: 767px) {
  footer .top li {
    font-size: 3.7333333333vw;
  }
}
footer .top .left img {
  height: 3.4722222222vw;
  width: auto;
}
@media (max-width: 767px) {
  footer .top .left img {
    height: 13.3333333333vw;
  }
}
@media (max-width: 767px) {
  footer .top {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .top ul {
  display: flex;
}
@media (max-width: 767px) {
  footer .top ul {
    flex-direction: column;
    margin-top: 5.3333333333vw;
  }
}
footer .top ul li {
  margin-left: 3.4722222222vw;
}
@media (max-width: 767px) {
  footer .top ul li {
    margin-left: 0;
    margin-bottom: 2.6666666667vw;
  }
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1.0416666667vw;
  border-top: 1px solid white;
}
@media (max-width: 767px) {
  footer .bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 767px) {
  footer .bottom {
    padding-top: 5.3333333333vw;
  }
}
footer .bottom p, footer .bottom li {
  font-size: 0.9027777778vw;
}
@media (max-width: 767px) {
  footer .bottom p, footer .bottom li {
    font-size: 3.2vw;
  }
}
@media (max-width: 767px) {
  footer .bottom p {
    font-size: 2.6666666667vw;
  }
}
footer .bottom ul {
  display: flex;
}
@media (max-width: 767px) {
  footer .bottom ul {
    margin-bottom: 2.6666666667vw;
  }
}
footer .bottom ul li {
  margin-left: 3.4722222222vw;
}
@media (max-width: 767px) {
  footer .bottom ul li {
    margin-left: 2.6666666667vw;
    margin-right: 2.6666666667vw;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #232323;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 2.8s cubic-bezier(0.68, 0.05, 0, 0.87);
  will-change: top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.loading.animated {
  top: -110vh;
}
.loading .center {
  width: 167px;
  height: 167px;
  left: calc(50% - 78.5px);
  top: calc(50% - 78.5px);
  padding: 10px;
  position: absolute;
  overflow: hidden;
}
@media (max-width: 767px) {
  .loading .center {
    top: calc(50% - 140px);
  }
}
.loading .center .loading-circle {
  position: absolute;
  transition: 2.8s cubic-bezier(0.68, 0.05, 0, 0.87);
  top: 10px;
  will-change: top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.loading .center .loading-circle.animated {
  top: -1000px;
}
.loading .center img {
  width: 147px;
  height: 147px;
  object-position: center;
  object-fit: contain;
  animation: rotateAnimation 3s cubic-bezier(0.68, 0.05, 0, 0.87) infinite;
}
.loading .center h3 {
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-family: "Abril Fatface";
  line-height: 1.3em;
  letter-spacing: 0.02em;
  color: white;
  width: 100%;
  top: calc(50% - 30px);
}

.history {
  padding-top: 6.9444444444vw;
}
@media (max-width: 767px) {
  .history {
    padding-top: 16vw;
  }
}
.history h2 {
  font-size: 6.25vw;
  text-align: center;
  line-height: 97.778%;
  margin-bottom: -1.0416666667vw;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .history h2 {
    font-size: 10.6666666667vw;
    margin-bottom: -2.1333333333vw;
  }
}
.history .section-inner {
  position: relative;
  width: 75vw;
  margin: auto;
}
@media (max-width: 767px) {
  .history .section-inner {
    width: unset;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.history .section-inner .next-wrap {
  position: absolute;
  width: 11.875vw;
  z-index: 2;
  top: 5.9027777778vw;
  right: -1.875vw;
  cursor: pointer;
}
.history .section-inner .next-wrap.swiper-button-disabled {
  display: none;
}
@media (max-width: 767px) {
  .history .section-inner .next-wrap {
    top: unset;
    width: 26.6666666667vw;
    bottom: 2.6666666667vw;
    right: 1.3333333333vw;
  }
}
.history .section-inner .next-wrap p {
  font-weight: 700;
  font-size: 1.3888888889vw;
  font-family: "minion-pro";
  position: relative;
  left: 0;
  transition: all 0.3s;
}
.history .section-inner .next-wrap p::before {
  content: "";
  width: 11.3888888889vw;
  height: 0.0694444444vw;
  position: absolute;
  bottom: 0.4861111111vw;
  left: 0;
  background-color: #273A48;
  transition: all 0.3s;
}
.history .section-inner .next-wrap p::after {
  content: "";
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  position: absolute;
  bottom: 0.4166666667vw;
  right: 0;
  border-radius: 50%;
  background-color: #273A48;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .history .section-inner .next-wrap p {
    font-size: 3.7333333333vw;
  }
  .history .section-inner .next-wrap p::before {
    width: 25.3333333333vw;
    height: 0.2666666667vw;
    bottom: 1.3333333333vw;
  }
  .history .section-inner .next-wrap p::after {
    width: 0.5333333333vw;
    height: 0.5333333333vw;
    bottom: 1.3333333333vw;
  }
}
@media (min-width: 768px) {
  .history .section-inner .next-wrap p:hover {
    left: 0.6944444444vw;
  }
  .history .section-inner .next-wrap p:hover::before {
    width: 10.6944444444vw;
  }
  .history .section-inner .next-wrap p:hover::after {
    right: 0.6944444444vw;
  }
}
.history .video-container {
  width: 100%;
  padding: 4.1666666667vw 4.8611111111vw;
  background-color: #e6e6e6;
  position: relative;
}
@media (max-width: 767px) {
  .history .video-container {
    padding: 8vw 4vw;
    padding-bottom: 10.6666666667vw;
  }
}
.history .video-container ul {
  padding-bottom: 1.3888888889vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .history .video-container ul {
    padding-bottom: 5.3333333333vw;
  }
}
.history .video-container ul li {
  font-size: 0.9027777778vw;
  letter-spacing: 0.02em;
  margin-bottom: 0.4861111111vw;
  color: #273A48;
  opacity: 0.4;
  cursor: pointer;
}
.history .video-container ul li.active {
  opacity: 1;
}
.history .video-container ul li:last-child {
  margin-bottom: 0;
}
.history .video-container ul li span {
  padding-right: 0.6944444444vw;
}
@media (max-width: 767px) {
  .history .video-container ul li {
    font-size: 3.2vw;
    line-height: 1.2em;
    margin-bottom: 1.3333333333vw;
    display: flex;
  }
  .history .video-container ul li span {
    padding-right: 1.3333333333vw;
    position: relative;
    top: -0.2666666667vw;
  }
}
.history .slide .desc {
  margin-top: 1.3888888889vw;
  font-size: 1.0416666667vw;
  letter-spacing: 0.02em;
}
@media (max-width: 767px) {
  .history .slide .desc {
    margin-top: 2.6666666667vw;
    font-size: 2.6666666667vw;
  }
}
.history .video-wrapper {
  position: relative;
}
.history .video-wrapper video {
  width: 100%;
}
.history .video-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  background: black;
  transition: all 0.2s;
}
.history .video-wrapper.active::after {
  opacity: 0;
  pointer-events: none;
}
.history .video-wrapper img.btn {
  position: absolute;
  z-index: 2;
  width: 55px;
  height: 55px;
  top: calc(50% - 27.5px);
  left: calc(50% - 27.5px);
  cursor: pointer;
}
.history .video-wrapper img.btn.active {
  display: none;
}

.business {
  padding-top: 5.0694444444vw;
  padding-bottom: 18.75vw;
}
@media (max-width: 767px) {
  .business {
    padding-top: unset;
    padding-bottom: 16vw;
  }
}
@media (max-width: 767px) {
  .business .section-inner {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.business .section-inner .flex {
  display: flex;
  margin-bottom: 17.3611111111vw;
}
@media (max-width: 767px) {
  .business .section-inner .flex {
    flex-direction: column;
    margin-bottom: 8vw;
  }
  .business .section-inner .flex.reverse {
    flex-direction: column-reverse;
  }
}
.business .section-inner .flex:last-child {
  margin-bottom: 0;
}
.business .section-inner .flex > div {
  width: 50%;
}
.business .section-inner .flex > div img {
  width: 100%;
}
@media (max-width: 767px) {
  .business .section-inner .flex > div {
    width: 100%;
  }
}
.business .section-inner .flex .txt-col {
  padding: 5.5555555556vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E6E6E6;
}
@media (max-width: 767px) {
  .business .section-inner .flex .txt-col {
    padding: 5.3333333333vw;
  }
  .business .section-inner .flex .txt-col h2 {
    line-height: 1.2em;
    margin-bottom: 2.6666666667vw;
  }
}
.business .section-inner .flex .right {
  position: relative;
  top: 6.9444444444vw;
}
@media (max-width: 767px) {
  .business .section-inner .flex .right {
    top: 0;
  }
}
.business .section-inner .flex .color-inversion {
  background-color: #273A48;
}
.business .section-inner .flex .color-inversion h2, .business .section-inner .flex .color-inversion p {
  color: white;
}

.corporation {
  padding-top: 4.1666666667vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  padding-bottom: 12.5vw;
  background-color: #E6E6E6;
}
@media (max-width: 767px) {
  .corporation {
    padding: 10.6666666667vw 4vw;
  }
}
.corporation h2 {
  margin-bottom: 2.6388888889vw;
}
@media (max-width: 767px) {
  .corporation h2 {
    margin-bottom: 4vw;
  }
}
.corporation table {
  width: 69.4444444444vw;
}
@media (max-width: 767px) {
  .corporation table {
    width: 100%;
  }
}
.corporation table tr {
  border-bottom: 1px solid white;
}
.corporation table tr th, .corporation table tr td {
  padding-top: 2.7777777778vw;
  color: #232323;
  padding-bottom: 1.0416666667vw;
  font-size: 1.3888888889vw;
  font-family: "Athelas";
  font-weight: 400;
}
@media (max-width: 767px) {
  .corporation table tr th, .corporation table tr td {
    padding-top: 5.3333333333vw;
    padding-bottom: 2.6666666667vw;
    font-size: 3.2vw;
    line-height: 1.2em;
  }
}
.corporation table tr th {
  width: 21.5972222222vw;
}
@media (max-width: 767px) {
  .corporation table tr th {
    width: 34.6666666667vw;
  }
}

.salon-list-sec {
  padding-top: 8.5416666667vw;
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  padding-bottom: 11.8055555556vw;
}
@media (max-width: 767px) {
  .salon-list-sec {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 16vw;
    padding-bottom: 16vw;
  }
}
.salon-list-sec .section-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.salon-list-sec .section-inner .card {
  width: calc(50% - 1.3888888889vw);
}
.salon-list-sec .section-inner .card h4 {
  font-size: 2.0833333333vw;
  margin-bottom: 0.7638888889vw;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card h4 {
    font-size: 5.3333333333vw;
    margin-bottom: 2.6666666667vw;
  }
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card {
    width: 100%;
    margin-bottom: 13.3333333333vw;
  }
  .salon-list-sec .section-inner .card:last-child {
    margin-bottom: 0;
  }
}
.salon-list-sec .section-inner .card .img-wrapper {
  margin-bottom: 1.3888888889vw;
}
.salon-list-sec .section-inner .card .img-wrapper img {
  width: 100%;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .img-wrapper {
    margin-bottom: 5.3333333333vw;
  }
}
.salon-list-sec .section-inner .card .flex {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.6944444444vw;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .flex {
    margin-bottom: 2.6666666667vw;
  }
}
.salon-list-sec .section-inner .card .flex h6, .salon-list-sec .section-inner .card .flex p {
  font-size: 1.0416666667vw;
  font-weight: 400;
  line-height: 1.6666em;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .flex h6, .salon-list-sec .section-inner .card .flex p {
    font-size: 4vw;
  }
}
.salon-list-sec .section-inner .card .flex .col1 {
  width: 4.1666666667vw;
  background-color: #E6E6E6;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .flex .col1 {
    width: 16vw;
  }
}
.salon-list-sec .section-inner .card .flex .col1 h6 {
  text-align: center;
}
.salon-list-sec .section-inner .card .flex .col2 {
  padding-left: 0.6944444444vw;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .flex .col2 {
    padding-left: 2.6666666667vw;
  }
}
.salon-list-sec .section-inner .card .salon-detail {
  padding-bottom: 1.3888888889vw;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .salon-detail {
    padding-bottom: 5.3333333333vw;
  }
}
.salon-list-sec .section-inner .card .btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.salon-list-sec .section-inner .card .btn-wrapper .btn {
  width: calc(50% - 0.3472222222vw);
  display: block;
  border: 1px solid #273A48;
  font-size: 1.1111111111vw;
  font-weight: bold;
  font-family: "minion-pro";
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .btn-wrapper .btn {
    width: calc(50% - 1.3333333333vw);
    font-size: 4.2666666667vw;
  }
}
.salon-list-sec .section-inner .card .btn-wrapper .btn span {
  line-height: 2.5em;
  color: #273A48;
  position: relative;
  padding-left: 5.9722222222vw;
  padding-right: 3.4722222222vw;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .btn-wrapper .btn span {
    padding-left: 9.3333333333vw;
    padding-right: 8vw;
  }
}
.salon-list-sec .section-inner .card .btn-wrapper .btn span::before {
  content: "";
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  background-color: #273A48;
  border-radius: 99px;
  position: absolute;
  right: 0;
  top: calc(55% - 0.1041666667vw);
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .btn-wrapper .btn span::before {
    width: 0.5333333333vw;
    height: 0.5333333333vw;
    top: calc(50% - 0.2666666667vw);
  }
}
.salon-list-sec .section-inner .card .btn-wrapper .btn span::after {
  content: "";
  background-color: #273A48;
  width: 2.5vw;
  position: absolute;
  height: 0.0694444444vw;
  right: 0.4861111111vw;
  top: calc(55% - 0.0347222222vw);
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .salon-list-sec .section-inner .card .btn-wrapper .btn span::after {
    width: 4.8vw;
    height: 0.2666666667vw;
    right: 1.6vw;
    top: calc(50% - 0.1333333333vw);
  }
}
@media (min-width: 768px) {
  .salon-list-sec .section-inner .card .btn-wrapper .btn span:hover {
    padding-left: 6.6666666667vw;
    padding-right: 2.7777777778vw;
  }
  .salon-list-sec .section-inner .card .btn-wrapper .btn span:hover::after {
    width: 1.8055555556vw;
  }
}
.salon-list-sec .section-inner .card .btn-wrapper .btn2 {
  background-color: #273A48;
  padding-left: 0.2083333333vw;
}
.salon-list-sec .section-inner .card .btn-wrapper .btn2 span {
  color: white;
}
.salon-list-sec .section-inner .card .btn-wrapper .btn2 span::before, .salon-list-sec .section-inner .card .btn-wrapper .btn2 span::after {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
